section.team {
  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    h1 {
      font-family: $font-cursive;
      color: $primary-500;
    }
    .members {
      display: flex;
      flex-direction: row;
      gap: 50px;
      .member {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
          width: 15rem;
          height: 15rem;
          clip-path: circle(50%);
          filter: grayscale(100%);

          &:hover {
            filter: grayscale(0%);
          }
        }

        h3 {
          color: $primary-500;
        }
      }
    }
  }
}
