footer.content-info {
  section.footer {
    .container {
      flex-direction: column;

      .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #fff;

        .border {
          width: 10%;
          border: 5px solid $primary-500;
        }
      }
      .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 100px;
        margin: 50px 0;
        .social {
          display: flex;
          flex-direction: column;
          flex-basis: 25%;
          gap: 25px;
          font-family: $font-md;
          .address {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            .top {
              display: flex;
              flex-direction: row;
              align-self: flex-start;
              gap: 25px;

              i {
                color: #fff;
                font-size: $text-xl;
              }

              p {
                font-size: $text-xl;
              }
            }
            .bottom {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin: 0;
              p {
                font-size: $text-lg;
              }
            }
          }
          .social-media {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            i {
              color: #fff;
              font-size: $text-xl;
              cursor: pointer;

              &:hover {
                color: $primary-500;
              }
            }
          }
        }
        .form {
          display: flex;
          flex-basis: 75%;

          form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;

            .input-group {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              width: 100%;
              gap: 15px;

              input {
                display: flex;
                flex: 1 1 48%;
                height: 1rem;
                margin-bottom: 1rem;
                border: none;
                padding: 25px;
                font-size: $text-lg;
                color: #ccc;
                border-radius: 0.5rem;
                background-color: #1a1a1a;
                font-family: $font-md;
              }
            }
            textarea {
              width: 100%;
              border: none;
              padding: 25px;
              font-size: $text-lg;
              color: #ccc;
              border-radius: 0.5rem;
              background-color: #1a1a1a;
              font-family: $font-md;
              resize: none;
            }

            button {
              width: 10rem;
              height: 2rem;
              border-radius: 5px;
              font-family: $font-md;
              font-size: $text-md;
              font-weight: $font-w500;
              color: #fff;
              cursor: pointer;
              margin-top: 15px;

              &:hover {
                background-color: #fff;
                color: $primary-400;
                transition: all ease 0.7s;
              }
            }
          }
        }
      }
      .bottom {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
}
