section.hero {
  height: 90vh;
  .container {
    margin-bottom: 0;
    .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        font-family: $font-cursive;
        font-size: $text-xxxl;
      }

      h1 {
        font-family: $font-md;
        font-size: 10rem;
        background-image: url(~@images/text-bg-1.jpg);
        background-size: cover;
        background-color: text;
        -webkit-background-clip: text;
        color: transparent;
      }

      h4 {
        font-family: $font-md;
        color: $primary-500;
      }
    }
  }
}
